.suggestions-list {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}
